*{
    margin: 0;
    padding: 0;
box-sizing: border-box;
}
html,body{
    line-height: 1.4;
    font-weight: 300;
    font-family: "roboto", sans-serif;
}
.hero_section{
    background-image: url(images/developer.jpg);
    background-attachment: fixed;
    min-height: 95vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.text_container{
    max-width:1000px;
    margin: 0 auto;
    padding: 64px;
    padding-left: 16px;
    color: white;
    font-size:20px;
    font-weight: 300;
}
.lg_text{
    font-size:64px;
    font-weight: 400;
}
.black_box{
    background-color: rgb(35, 26, 26);
    padding: 20px;
}
.black_box h2{
    color: white;
    font-size: 44px;
    font-weight: 300;
    text-align: center;
}
.black_box h2 span{
    font-weight: 300;
    font-size: 72px;
}
.work{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(320px,1fr));
    gap: 20px;
    max-width:1100px;
    margin: 50px auto;
    align-items: center;
    justify-content: center;
}
.card{
    max-width: 300px;
    height: 360px;
    border-radius: 10px;
    box-shadow: 3px 5px 5px rgba(1, 1, 1, 0.2);

}
.card:hover{
    transform: scale(1.1);
    transition: 0.3s ease-in-out;
    box-shadow: 3px 5px 5px rgba(1, 1, 1, 0.2);
}
.card_content{
    padding: 20px;
}
.card_content h3{
    margin-bottom: 10px;
}
.bottom_section{
    display: flex;
}
.contact{
    background-color: #515603;
}
.about{
    background-color: #722300;
}
.contact,.about{
    padding: 25px;
    color: white;
}
.contact p,
.about p{
    margin-bottom: 20px;
}
.contact h2,
.about h2{
    font-size: 52px;
    font-weight: 200;
    margin-bottom: 10px;
}
footer{
    background-color: black;
    color: white;
    text-align: center;
    text-transform: uppercase;
    height: 75px;
    justify-content: center;
    padding: 25px;
    word-spacing: 1vh;
}